<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Card/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1907},{130,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,174}</string>
			</dict>
			<key>Card/00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,417},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,625},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1041},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1249},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/112.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1457},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/113.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1665},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/114.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1873},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/115.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/116.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,209},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/128.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,417},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/129.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,625},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/130.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,833},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/131.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1041},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/132.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1249},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/144.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1457},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/152.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1665},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1873},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,151},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,359},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,567},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,775},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,983},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1191},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1399},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1607},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1815},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,151},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,301},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,509},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,717},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/49.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,925},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1133},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1341},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1549},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/56.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1757},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/57.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,301},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/58.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,151},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/59.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,451},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/64.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,659},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/65.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,867},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/66.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1075},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/67.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1283},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1491},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/72.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1699},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/73.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,451},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/74.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,301},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/75.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,151},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/76.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/80.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,659},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/81.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,867},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/82.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1075},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/83.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1283},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/84.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1491},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/88.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1699},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/89.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,451},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/90.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,301},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/91.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,151},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/92.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/96.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,601},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/97.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,809},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/98.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1017},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/99.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1225},{148,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,206}</string>
			</dict>
			<key>Card/cover_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1965},{75,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>