<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_action_rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{157,302}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{157,302}}</string>
                <key>sourceSize</key>
                <string>{231,392}</string>
            </dict>
            <key>spr_action_rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,344},{157,342}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{157,342}}</string>
                <key>sourceSize</key>
                <string>{231,392}</string>
            </dict>
            <key>spr_action_rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{157,342}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{157,342}}</string>
                <key>sourceSize</key>
                <string>{231,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_rocket0.png</string>
            <key>size</key>
            <string>{159,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aa0d9116673d311928f3901cf76527e:1/1$</string>
            <key>textureFileName</key>
            <string>action_rocket0.png</string>
        </dict>
    </dict>
</plist>
