<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_action_plane_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,149},{304,149}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{304,149}}</string>
                <key>sourceSize</key>
                <string>{372,201}</string>
            </dict>
            <key>spr_action_plane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1},{302,147}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,31},{302,147}}</string>
                <key>sourceSize</key>
                <string>{372,201}</string>
            </dict>
            <key>spr_action_plane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{278,149}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{278,149}}</string>
                <key>sourceSize</key>
                <string>{372,201}</string>
            </dict>
            <key>spr_action_plane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{310,147}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{310,147}}</string>
                <key>sourceSize</key>
                <string>{372,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_plane0.png</string>
            <key>size</key>
            <string>{615,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f93e4e7a055151829d58aa203adfdd53:1/1$</string>
            <key>textureFileName</key>
            <string>action_plane0.png</string>
        </dict>
    </dict>
</plist>
