<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spr_action_bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,491}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,1},{134,491}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1277},{134,151}}</string>
                <key>offset</key>
                <string>{10,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,342},{134,151}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1546},{166,185}}</string>
                <key>offset</key>
                <string>{14,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,309},{166,185}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1623},{164,199}}</string>
                <key>offset</key>
                <string>{15,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,295},{164,199}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1788},{168,183}}</string>
                <key>offset</key>
                <string>{13,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,311},{168,183}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,136},{184,49}}</string>
                <key>offset</key>
                <string>{1,-200}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,431},{184,49}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1741},{242,93}}</string>
                <key>offset</key>
                <string>{5,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,396},{242,93}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1481},{242,141}}</string>
                <key>offset</key>
                <string>{6,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,360},{242,141}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1277},{272,203}}</string>
                <key>offset</key>
                <string>{5,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,284},{272,203}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,662},{360,253}}</string>
                <key>offset</key>
                <string>{0,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,258},{360,253}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1256},{308,289}}</string>
                <key>offset</key>
                <string>{0,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,208},{308,289}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,690},{326,351}}</string>
                <key>offset</key>
                <string>{4,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,158},{326,351}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1546},{136,163}}</string>
                <key>offset</key>
                <string>{9,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,334},{136,163}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,916},{346,339}}</string>
                <key>offset</key>
                <string>{6,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,172},{346,339}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1017},{338,259}}</string>
                <key>offset</key>
                <string>{2,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,227},{338,259}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,446},{350,243}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,246},{350,243}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,408},{382,253}}</string>
                <key>offset</key>
                <string>{17,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,238},{382,253}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,136},{440,271}}</string>
                <key>offset</key>
                <string>{6,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,231},{440,271}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{444,231}}</string>
                <key>offset</key>
                <string>{6,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,257},{444,231}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1277},{134,151}}</string>
                <key>offset</key>
                <string>{10,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,342},{134,151}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1860},{128,149}}</string>
                <key>offset</key>
                <string>{9,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,342},{128,149}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1860},{132,143}}</string>
                <key>offset</key>
                <string>{10,-164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,348},{132,143}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1741},{142,165}}</string>
                <key>offset</key>
                <string>{9,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,326},{142,165}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1710},{132,149}}</string>
                <key>offset</key>
                <string>{10,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,342},{132,149}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1412},{150,165}}</string>
                <key>offset</key>
                <string>{10,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,329},{150,165}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
            <key>spr_action_bomb_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1578},{162,179}}</string>
                <key>offset</key>
                <string>{16,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,315},{162,179}}</string>
                <key>sourceSize</key>
                <string>{492,511}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_bomb0.png</string>
            <key>size</key>
            <string>{735,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9525dd59ddb3ed2323d757c02fa37f:1/1$</string>
            <key>textureFileName</key>
            <string>action_bomb0.png</string>
        </dict>
    </dict>
</plist>
