<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Emot/biaoqing_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,972},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1296},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,0},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,286},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,610},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,934},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1258},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1582},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,286},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,286},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,286},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,286},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,572},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,896},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1220},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1544},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,572},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,572},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1506,572},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,858},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1182},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1506},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_8_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,858},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,858},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1144},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,1468},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
			<key>Emot/biaoqing_9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,1144},{286,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,324}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>biaoqing.png</string>
			<key>realTextureFileName</key>
			<string>biaoqing.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>