<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>EffevtCardUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,0},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,270},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,410},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,550},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,690},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,830},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,130},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,400},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,540},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,680},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
			<key>EffevtCardUI/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,820},{130,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effectcard.png</string>
			<key>realTextureFileName</key>
			<string>effectcard.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>