<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>EffectStreamerUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,320},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,50},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,100},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,150},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,200},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,250},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,300},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,300},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,300},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,300},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,300},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,320},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,320},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,50},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,100},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,150},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,200},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,250},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,640},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,960},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,620},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,620},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,620},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,620},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,620},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,640},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,640},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
			<key>EffectStreamerUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,960},{320,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>EffectStreamerUI.png</string>
			<key>realTextureFileName</key>
			<string>EffectStreamerUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>