<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MagicKissUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,246},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,861},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,0},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,119},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,242},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,365},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,488},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,611},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,734},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,857},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,119},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,119},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>MagicKissUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,119},{119,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MagicKissUI.png</string>
			<key>realTextureFileName</key>
			<string>MagicKissUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>