<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ShunziUI/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,976},{291,211}}</string>
				<key>offset</key>
				<string>{-98,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,343},{331,211}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,211},{334,211}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,211},{339,211}}</string>
				<key>offset</key>
				<string>{24,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{343,211}}</string>
				<key>offset</key>
				<string>{35,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{346,211}}</string>
				<key>offset</key>
				<string>{47,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,211}}</string>
				<key>offset</key>
				<string>{58,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,765},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,983},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1055},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,1055},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,633},{292,211}}</string>
				<key>offset</key>
				<string>{-84,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1055},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1178},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1273},{218,123}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1055},{216,120}}</string>
				<key>offset</key>
				<string>{3,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1187},{216,120}}</string>
				<key>offset</key>
				<string>{3,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,765},{292,211}}</string>
				<key>offset</key>
				<string>{-71,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,844},{292,211}}</string>
				<key>offset</key>
				<string>{-58,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,844},{292,211}}</string>
				<key>offset</key>
				<string>{-45,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,633},{317,211}}</string>
				<key>offset</key>
				<string>{-44,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,554},{320,211}}</string>
				<key>offset</key>
				<string>{-32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,422},{324,211}}</string>
				<key>offset</key>
				<string>{-21,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
			<key>ShunziUI/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,422},{327,211}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,228}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shunzi.png</string>
			<key>realTextureFileName</key>
			<string>shunzi.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>